.listItem {
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #f5f5f5;
    margin-bottom: 0.3rem;
    cursor: pointer;
    transition-property:
        background-color, color, border-color, transform, box-shadow;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: #eff1fe;
    }
}

.selected {
    background-color: #eff1fe;
    border: 1px solid var(--mui-palette-primary-light);
}

.finished {
    color: #00c92c;
    border-color: #00c92c;
}

.revealed {
    color: #3b82f6;
    border-color: #3b82f6;
}

.voting {
    color: red;
}
