.card {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px #0000000f;
    width: 120px;
    height: 100px;
    position: relative;
}

.cirle {
    box-sizing: border-box;
    width: 8px;
    height: 8px;
    background-color: #00c92c;
    border-radius: 999px;
    margin-right: 4px;
}

.you {
    position: absolute;
    bottom: 0;
    color: white;
    background-color: #00c92c;
    text-align: center;
    max-width: fit-content;
    padding: 0 1rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.delete {
    cursor: pointer;
    position: absolute;
    right: 4px;
    top: 4px;
}
