.card {
  display: flex;
  align-items: center;
  justify-content: center;

  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.06);
  width: 120px;
  height: 100px;
}

.cirle {
  box-sizing: border-box;
  width: 8px;
  height: 8px;
  background-color: rgb(0, 201, 44);
  border-radius: 999px;
  margin-right: 4px;
}
